* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (max-width: 640px){
  .submit {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid black;
  }
}

@media only screen and (min-width: 400px) {
  .form-container {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
/*    width: 100%;*/
  }

  .submit {
    border: 1px solid black;
    border-radius: 10px;
  }
  
}


/* New Log Room Form */





.newroom-form {
  text-align: center;
}

input {
  width: 80%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 30px;
  text-align: center
}

::-webkit-input-placeholder {
  opacity: 0.3;
  color: red;
  text-align: center;
  font-style: italic
}

button {
  width: 80%;
  margin-bottom: 2vh;
  height: 30px;
}


/* List of LogRooms  */

.rooms-container {
  border: 1px solid white;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: -10px 10px 30px #888888;
  font-family: 'Patrick Hand', cursive;
}

.roomcontainer {
  list-style: none;
}

li {
  display: inline-block;
}

.header, 
.log-container {
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  height: 100vh;
}


.log-container {
  height: 60%;
  margin-bottom: 2px;
}

.header {
  text-align: center;
  margin-bottom: 2px;
}

.entry {
  margin-top: 2vh;
  height: 30px  
}

.submit {
  text-align: center;
  height: 25%;
  background-color: white
}



.button-home {
  height: 25px;
  margin-top: 8px;
  width: 18%;
}

/* log entry */
 .entries {
  list-style: none;
  height: 95%;
  overflow: auto;
}

time {
  color: red
}

.name {
  color: blue;
  font-style: italic;
}

.hidden {
  display: none;
}

.heading {
  text-align: center;
}

/*Sign Up/In Page*/

.border {
  box-shadow: -10px 10px 70px #888888;
  background-color: white;
}

.signup, .signin {
  text-align: center;

}

.input {
  border: none;
  box-shadow: 1px 1px 15px 2px rgb(242, 242, 242) inset;
  height: 40px;
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
}

.paddingtop25px {
  padding-top: 25px;
}

.paddingbottom25px {
  padding-bottom: 30px;
}

.contained {
   margin-top: 10vh;
}

.greenback {
  background-color: rgb(66, 244, 119);
}

h1 {
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
}

button, .button {
  width: 50%;
  height: 40px;
  border-radius: 20px;
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
}

.ent {
  font-family: 'Patrick Hand', cursive;

}

.signout {
  width: 35%;
}

/*font-family: 'Homemade Apple', cursive;
font-family: 'Patrick Hand', cursive;*/